# Answer 1

In [4]:
import pandas as pd
data=pd.Series([4,8,15,16,23,42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Answer 2

In [5]:
l1=[1,2,True,None,'hello',5.89]
data=pd.Series(l1)
print(data)

0        1
1        2
2     True
3     None
4    hello
5     5.89
dtype: object

# Answer 3

In [10]:
data=pd.DataFrame({
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female'],
})
print(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Answer 4

In pandas, a DataFrame is a two-dimensional, size-mutable, and highly flexible data structure used to store and manipulate tabular data. It is one of the core data structures provided by the pandas library and is often used for data analysis and manipulation. You can think of a DataFrame as a table or spreadsheet with rows and columns, where each column can hold data of a different data type, such as integers, floats, strings, or even more complex objects.

Here are some key characteristics of a DataFrame:

1. **Tabular Structure**: A DataFrame is a two-dimensional structure with rows and columns. Each column can have a different data type.

2. **Size-Mutable**: You can add or remove rows and columns from a DataFrame, making it flexible for data manipulation.

3. **Labeled Axes**: Both rows and columns in a DataFrame are labeled with index labels and column names, respectively. This allows for easy and efficient data selection and alignment.

4. **Heterogeneous Data**: Unlike NumPy arrays, which store homogeneous data types, a DataFrame can store heterogeneous data types in its columns.

Now, let's compare a DataFrame to a pandas Series:

A pandas Series is a one-dimensional array-like object that can hold data of any type, similar to a column in a DataFrame. However, the main difference between a Series and a DataFrame is that a Series has a single index, while a DataFrame has both row and column indices.

In [1]:
import pandas as pd

# Creating a Series
series_data = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

# Creating a DataFrame
data = {'Column1': [1, 2, 3, 4], 'Column2': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Series:
A    1
B    2
C    3
D    4
dtype: int64

DataFrame:
   Column1 Column2
A        1       a
B        2       b
C        3       c
D        4       d

# Answer 5

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions you can use:

1. **Selection and Filtering**:
   - `df['column_name']` or `df.column_name`: Access a specific column.
   - `df.loc[rows, columns]`: Select data by label.
   - `df.iloc[rows, columns]`: Select data by integer position.
   - `df[df['column_name'] > value]`: Filter rows based on a condition.

2. **Sorting**:
   - `df.sort_values(by='column_name')`: Sort DataFrame by values in a column.
   - `df.sort_index()`: Sort DataFrame by index.
   
3. **Aggregation and Grouping**:
   - `df.groupby('column_name').agg({'column_name': 'function'})`: Group data by a column and perform aggregation functions (e.g., mean, sum, count) on groups.

4. **Adding and Removing Columns**:
   - `df['new_column'] = values`: Add a new column.
   - `del df['column_name']`: Delete a column.

5. **Data Cleaning and Handling Missing Values**:
   - `df.dropna()`: Remove rows with missing values.
   - `df.fillna(value)`: Replace missing values with a specified value.

6. **Merging and Joining**:
   - `pd.concat([df1, df2], axis=0/1)`: Concatenate DataFrames vertically (axis=0) or horizontally (axis=1).
   - `pd.merge(df1, df2, on='key_column', how='inner/outer/left/right')`: Merge DataFrames based on a common column.

In [16]:
# 1. Selection and filtering
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David','John'],
        'Age': [25, 30, 22, 35, None]}
df = pd.DataFrame(data)
result = df[df['Age'] > 30]
print(result)

# 2.Sorting
print(df.sort_values(by='Age'))

# 4. Adding and Removing
df['Gender'] = ['Female', 'Male', 'Male', 'Male', 'Male']
print(df.head())

# 3. Aggregating and Grouping
print(df.groupby('Gender').sum())

# 5. Handling missing values
print(df.dropna())

    Name   Age
3  David  35.0
      Name   Age
2  Charlie  22.0
0    Alice  25.0
1      Bob  30.0
3    David  35.0
4     John   NaN
      Name   Age  Gender
0    Alice  25.0  Female
1      Bob  30.0    Male
2  Charlie  22.0    Male
3    David  35.0    Male
4     John   NaN    Male
         Age
Gender
Female  25.0
Male    87.0
      Name   Age  Gender
0    Alice  25.0  Female
1      Bob  30.0    Male
2  Charlie  22.0    Male
3    David  35.0    Male

/tmp/ipykernel_109/2482350622.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby('Gender').sum())

# Answer 6

In pandas, both Series and DataFrame are mutable in nature, while Panel is not. 

1. **Series**: A pandas Series is a one-dimensional array-like object that can hold data of any type. It is mutable, which means you can modify the values in a Series after it has been created. For example, you can change the values of individual elements in a Series by assigning new values to them.

2. **DataFrame**: A pandas DataFrame is a two-dimensional tabular data structure. Like Series, DataFrames are also mutable. You can add or remove rows and columns, modify the data within the DataFrame, and perform various operations to change its contents.

3. **Panel**: The Panel data structure, which used to be a part of pandas in older versions, has been deprecated and is not part of the latest versions of pandas. It has been replaced with other data structures like MultiIndex DataFrames. Panels were not as commonly used as Series and DataFrames, and they were not mutable.

# Answer 7

In [17]:
import pandas as pd
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 22, 35])
scores = pd.Series([85, 92, 78, 88])
data = {'Name': names, 'Age': ages, 'Score': scores}
df = pd.DataFrame(data)
df

      Name  Age  Score
0    Alice   25     85
1      Bob   30     92
2  Charlie   22     78
3    David   35     88