# Answer 1

In [1]:
import pandas as pd
# 1. DataFrame
df=pd.DataFrame({'Name':['Alice','Bob','David'], 'Age':[22,43,21]})
print(df)
print('')

# 2. info
print(df.info())
print('')

# 3. sum
print(df['Age'].sum())
print('')

# 4. isnull
print(df.isnull())
print('')

# 5. unique
print(df['Age'].unique())

    Name  Age
0  Alice   22
1    Bob   43
2  David   21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

86

    Name    Age
0  False  False
1  False  False
2  False  False

[22 43 21]

# Answer 2

In [2]:
df=pd.DataFrame({'A':['Rahul','Alex','Stuart'], 'B':[23,43,29], 'C':['M','M','M']})
def custom_reindex(df):
    new_index = range(1, len(df) * 2, 2)
    df = df.set_index(pd.Index(new_index))
    return df
df=custom_reindex(df)
print(df)

        A   B  C
1   Rahul  23  M
3    Alex  43  M
5  Stuart  29  M

# Answer 3

In [3]:
import pandas as pd
df=pd.DataFrame({'Values':[10,20,30,40,50], 'Names':['A','B','C','D','E']})
def find_sum(df):
    myl=list(df['Values'])[:3]
    return sum(myl)
result=find_sum(df)
print(result)

60

# Answer 4

In [4]:
df=pd.DataFrame({'Text':['David','Stuart','Alice','John','Millenia'], 'Names':['A','B','C','D','E']})
def words(df):
    word_count=[]
    myl=list(df['Text'])
    for i in myl:
        word_count.append(len(i))
    df['Words_Count']=pd.Series(word_count)
    return df
df=words(df)
print(df)

       Text Names  Words_Count
0     David     A            5
1    Stuart     B            6
2     Alice     C            5
3      John     D            4
4  Millenia     E            8

# Answer 5

In pandas, `DataFrame.size` and `DataFrame.shape` are both attributes that provide information about the dimensions of a DataFrame, but they serve slightly different purposes:

1. **DataFrame.size**:
   - `DataFrame.size` returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns.
   - It represents the total number of data points or cells in the DataFrame.
   - It is an integer value.
   
2. **DataFrame.shape**:
   - `DataFrame.shape` returns a tuple representing the dimensions of the DataFrame in the form of `(rows, columns)`.
   - It provides the number of rows and columns as separate values.
   - It is a tuple.

In [5]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(df.size)
print(df.shape)

6
(3, 2)

# Answer 6

In pandas, you can use the pd.read_excel() function to read data from an Excel file into a DataFrame. This function allows you to read data from Excel files in various formats, including .xls and .xlsx. Here's how you can use it:

'Python Code'

import pandas as pd

'''Read data from an Excel file into a DataFrame'''

df = pd.read_excel('your_excel_file.xlsx')

'''Display the DataFrame'''

print(df)

# Answer 7

In [6]:
df=pd.DataFrame({'Names':['David','Stuart','Alice'], 'Class':['A','B','C'], 'Email':['david.iit@gmail.com', 'stu_art@yahoo.com', 
                                                                                   'malice.23@hotmail.com']})
def usernames(df):
    myl=[]
    for i in df['Email']:
        myl.append(i.split('@'))
    user=[]
    for i in myl:
        user.append(i[0])
    df['Username']=pd.Series(user)
    return df

df=usernames(df)
print(df)

    Names Class                  Email   Username
0   David     A    david.iit@gmail.com  david.iit
1  Stuart     B      stu_art@yahoo.com    stu_art
2   Alice     C  malice.23@hotmail.com  malice.23

# Answer 8

In [7]:
df=pd.DataFrame({'A':[3,8,6,2,9], 'B':[5,2,9,3,1], 'C':[1,7,4,5,2]})
def func(df):
    result=df[(df['A'] > 5) & (df['B'] < 10)]
    return result
df=func(df)
print(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Answer 9

In [8]:
df=pd.DataFrame({'Values':[1,2,4,32,3,12]})
def med(x):
    l=len(x)
    new=x.sort()
    if l%2==0:
        m=(x[int(l/2)]+x[int(-1+(l/2))])/2
    else:
        m=x[int((l-1)/2)]
    return m
    
def calc(df):
    mean=sum(df['Values'])/len(df['Values'])
    median=med(list(df['Values']))
    std=(sum(list(map(lambda x: (x-mean)**2, df['Values'] )))/len(df['Values']) )**0.5
    print(f'Mean is {mean}, median is {median} and standard deviation is {std}')
calc(df)
df['Values']=df["Values"].dtype==float
df['Values'].dtype

Mean is 9.0, median is 3.5 and standard deviation is 10.893423092245461

dtype('bool')

# Answer 10

In [30]:
import numpy as np

In [38]:
df=pd.DataFrame({'Date':pd.date_range(start='2023-01-01', periods=15),
                'Sales':[10,20,30,20,340,40,50,20,10,95,56,43,67,89,51]})
def func(df):
    a=7
    result=[]
    while a!=len(df):
        result.append(np.average(df['Sales'][a-7:a]))
        a+=1
    df['MovingAverage']=pd.Series(result)
    return df
df=func(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01     10      72.857143
1  2023-01-02     20      74.285714
2  2023-01-03     30      72.857143
3  2023-01-04     20      82.142857
4  2023-01-05    340      87.285714
5  2023-01-06     40      44.857143
6  2023-01-07     50      48.714286
7  2023-01-08     20      54.285714
8  2023-01-09     10            NaN
9  2023-01-10     95            NaN
10 2023-01-11     56            NaN
11 2023-01-12     43            NaN
12 2023-01-13     67            NaN
13 2023-01-14     89            NaN
14 2023-01-15     51            NaN

# Answer 11

In [23]:
df=pd.DataFrame({'Date':pd.to_datetime(['2023-01-01','2023-01-02','2023-01-03',
                                       '2023-01-04','2023-01-05'])})
def func(df):
    df['Day Name']=df['Date'].dt.day_name()
    return df
df=func(df)
print(df)

        Date   Day Name
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Answer 12

In [25]:
df=pd.DataFrame({'Date':pd.to_datetime(['2023-01-01','2023-01-02','2023-01-03',
                                       '2023-01-04','2023-01-31','2023-02-01'])})
def func(df, start, end):
    result=df[(df['Date'] >= start) & (df['Date'] <= end)]
    return result
result=func(df,'2023-01-01','2023-01-31')
print(result)

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-31

# Answer 13

To use the basic functions of pandas, the first and foremost library to import is `Pandas`. It can be imported as
- `import pandas as pd`